* {
    font-family: 'font';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    text-align: justify;
    color: #0F0F0F;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(14deg, rgba(40,42,53,1) 0%, rgba(59,132,181,1) 100%);
}

#header {
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
}

#signUpButton, #signInButton, #exportBtn  {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

#signUpButton:hover, #signInButton:hover, #exportBtn:hover {
    transform: scale(1.1);
}


#left {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    justify-content: flex-start;
}

#profil {
    display: flex;
    text-decoration: none;
    transition: all 0.3s ease;
}

#hist {
    display: flex;
    text-decoration: none;
    transition: all 0.3s ease;
}

#profil:hover {
    transform: scale(1.1);
}

#hist:hover {
    transform: scale(1.1);
}

#titleContainer {
    display: flex;
    justify-content: center;

}

#title {
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
}

#notLogged {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    justify-content: flex-end;
}

#login:hover {
    transform: scale(1.1);
    
}

#inscrit:hover {
    transform: scale(1.1);
}

#inscrit{
    text-decoration: none;
    transition: all 0.3s ease;
}

#login{
    text-decoration: none;
    transition: all 0.3s ease;
}

#logged {
    display: none;
    gap: 1rem;
    justify-content: flex-end;
}

#logout {
    text-decoration: none;
    transition: all 0.3s ease;
}

.container{
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;
}

h1, h2, h3, a {
    color: white;
}
.center {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0.5rem;
    color: white;
}

#content {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    width: 60%;
    height: 50vh;
}

.img {
    position: relative;
    z-index: 2;
    display: flex;
    max-height:300px;
    width: auto;
}

#center {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#temp {
    position: absolute;
    z-index: 3;
    font-size: 1.2rem;
    color: white;
    font-family: 'Font';
    align-self: flex-end;
    margin-left: 1.6rem;
    margin-bottom: 4.5rem;
}

#hum {
    position: absolute;
    z-index: 3;
    font-size: 2.0rem;
    color: white;
    font-family: 'Font';
    align-self: center;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
}

#time {
    align-self: center;
}

#heure {
    position: relative;
    
}

#heure img {
    max-height:auto;
    width: 600px;
}

#heure span {
    position: absolute;
    z-index: 2;
    font-size: 7rem;
    color: white;
    font-family: 'digital';
}


.superpose{
    display: flex;
    align-content: center;
    padding-top: 1rem;
}

#footer {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    background-image: url("img/background_in_space.png");
    background-position: center;
    height: 15rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    align-items: center;
    z-index: 100;
}

.footer-link {
    display: grid;
    margin-left: 5rem;
    align-content: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
}

.footer-link h3 {
    color: white;
    font-size: 1.2rem;
    
}

.footer-link a{
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease;
}

.footer-link a:hover {
    letter-spacing: 10px;
}

#loc {
    width: 30rem;
    height: auto;
}

#loc h3 {
    color: white;
    font-size: 1.2rem;
}

#tab{
    overflow-x: scroll;
    max-height: 15rem;
} 

table {
    box-shadow: 5px 5px 10px rgba(104, 104, 104, 0.3);
    border-radius: 25% 10%;
    border: solid 1px black;
    border-collapse: collapse;
    
}

th {
    color: white;
    top: 0;
}
th, td {
    border: 1px solid;
    
}

th.stickyHeader {
    position: sticky;
    top: 0;
    background-color: rgb(172, 2, 73);
    z-index: 1;
}

td {
    background-color: white;
}

.center form {
    display: flex;
    justify-content: center;
}

#graph {
    border: solid black 1px;
    background-color: rgb(230, 230, 230);
    width: 50rem;
}

#profilContent {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        width: 60%;
        height: 50vh;
}

#profilContent h2 {
    padding-left: 1rem;
}
  /* Fade-in animation for the modal */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }


#signInclose, #signUpclose {
    position: absolute;
    top: 1%;
    left: 90%;
    z-index: 999;
}

dialog {
    padding-top: 5%;
    position: relative;
    width: 30%;
    border: solid 1px black;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

dialog input {
    margin: 5%;
    display: flex;
    justify-content: center;
}

dialog button {
    margin: 1rem auto;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      rgb(25, 219, 219),
      rgb(0, 206, 233),
      rgb(56, 153, 250),
      rgb(0, 138, 230)
    );
    opacity: 0.75;
  }
  

#formPwd {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    padding-left: 1rem;
}

#formPwd input{
    width: 15rem;
    height: auto;
}

#formPwd button{
    width: 5rem;
    height: auto;
}

@media (max-width: 500px) {
   
}

@media (max-width: 800px) {

    *{
        font-size: 1rem;
    }

    #header{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #left{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #titleContainer {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-content: flex-start;
        margin-left: 1rem;
    }

    #titleContainer a{
        font-size: 1,2rem;
    }

    #logged{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-left: 1rem;
    }

    #notLogged{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-left: 1rem;
    }

    .justify{
        text-align: center;
    }

    #content {
        display: grid;
        height:100vh;
    }

    .superpose:first-child {
        padding-top: 1rem;
    }

    #footer {
        flex-flow: column;
        height: 27rem;
    }

    .footer-link {
        margin-bottom: 0rem;
        margin-left: 0rem;
    }

    #loc{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    #loc iframe {
        width: 25rem;
        height: auto;
        margin-left: 2rem;
        padding-bottom: 2rem;
    }

    #hum{
        position: relative;
        align-self: flex-end;
    }

    #temp{
        position: relative;
        align-self:flex-end;
    }

    #time{
        align-self: center;
    }

    .superpose{
        display: grid;
        justify-content: center;
    }

    #centerFooter{
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 1rem;
        color: white;
    }

    #graph {
        width: 20rem;
    }
}

@font-face {
    font-family: 'digital'; 
    src: url('img/digital.TTF') format('truetype');
}

@font-face {
    font-family: 'font';
    src: url('img/font.ttf') format('truetype');
}